.new-apartments-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.new-apartments-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-apartments-container .content section {
    width: 100%;
    max-width: 380px;
}

.new-apartments-container .content section h1 {
    margin: 64px 0 32px;
    font-size: 32px;
}

.new-apartments-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.new-apartments-container .content form {
    width: 100%;
    max-width: 450px;
}

.new-apartments-container .content form input,
.new-apartments-container .content form textarea {
    margin-top: 8px;
}

.new-apartments-container .select-residents {
    margin-top: 8px;
}

.apartment-list-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.apartment-list-container header {
    display: flex;
    align-items: center;
}

.apartment-list-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.apartment-list-container header img {
    height: 64px;
}

.apartment-list-container header a {
    width: 180px;
    margin-left: auto;
    margin-top: 0;
}

.apartment-list-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.apartment-list-container header button:hover {
    border-color: #999;
}

.apartment-list-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
    align-items: center;
}

.apartment-list-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.apartment-list-container ul li {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.apartment-list-container ul li button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
}

.apartment-list-container ul li button:hover {
    opacity: 0.8;
}

.apartment-list-container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.apartment-list-container ul li p+strong {
    margin-top: 32px;
}

.apartment-list-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}